<!DOCTYPE html>
<html>

<head>

    <title>Simulation Logs</title>

    <style>

        body{
            background:#111827;
            color:white;
            font-family:Arial;
            padding:40px;
        }

        h1{
            color:#38bdf8;
            text-align:center;
        }

        .box{
            background:#1f2937;
            padding:20px;
            border-radius:10px;
            width:80%;
            margin:auto;
        }

        pre{
            font-size:18px;
            color:#22c55e;
        }

    </style>

</head>

<body>

    <h1>Simulation Logs</h1>

    <div class="box">

        <pre>
{{ logs_data }}
        </pre>

    </div>

</body>

</html>