<!DOCTYPE html>
<html>

<head>

<title>Success</title>

<style>

body{
    font-family:Arial;
    text-align:center;
    background:#f4f4f4;
    padding-top:100px;
}

.box{
    background:white;
    width:500px;
    margin:auto;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

</style>

</head>

<body>

<div class="box">

<h1>Simulation Completed</h1>

<p>
Hello {{ username }},
this was a Social Engineering Awareness Simulation.
</p>

<p>
Never enter credentials on unknown websites.
</p>

<a href="/">
<button>BACK TO DASHBOARD</button>
</a>

</div>

</body>
</html>