<!DOCTYPE html>
<html>

<head>

<title>Security Tips</title>

<style>

body{
    font-family:Arial;
    background:#f4f4f4;
    padding:30px;
}

.box{
    background:white;
    padding:30px;
    border-radius:10px;
}

</style>

</head>

<body>

<div class="box">

<h1>Cyber Security Tips</h1>

<ul>

<li>Never share passwords.</li>
<li>Check website URLs carefully.</li>
<li>Enable Two-Factor Authentication.</li>
<li>Avoid suspicious links.</li>
<li>Use strong passwords.</li>
<li>Update software regularly.</li>

</ul>

</div>

</body>
</html>